<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>AZU</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Description website">
  <meta name="author" content="Maksym Blank">
  <meta name="keywords" content="website, with, meta, tags">
  <meta name="robots" content="noindex, follow">
  <meta name="revisit-after" content="5 month">
  <meta name="image" content="http://mywebsite.com/image.jpg">
  <meta name="og:title" content="Title website">
  <meta name="og:description" content="Description website">
  <meta name="og:image" content="http://mywebsite.com/image.jpg">
  <meta name="og:site_name" content="My Website">
  <meta name="og:type" content="website">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Title website">
  <meta name="twitter:description" content="Description website">
  <link href="assets/css/plugins/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/plugins/slick.css" rel="stylesheet">
  <link href="assets/css/plugins/ion.rangeSlider.min.css" rel="stylesheet">
  <link href="assets/css/plugins/magnific-popup.css" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/logo.png">
  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/fonts/flaticon/flaticon.css" rel="stylesheet">
  <link href="assets/fonts/font-awesome.min.css" rel="stylesheet">
</head>

<body class="sigma_header-absolute btn-style-5 btn-rounded sidebar-style-3">
  <!--Section Start-->

  <div class="sigma_aside-overlay aside-trigger-right">
  </div>
  <aside class="sigma_aside">
    <div class="sigma_close aside-trigger">
      <span></span>
      <span></span>
    </div>
    <div class="sigma_logo-wrapper">
      <a class="sigma_logo" href="index.html">
        <img class="hi" src="/assets/img/logo.png" alt="logo">
      </a>
    </div>
    <ul class="navbar-nav">
      <li class="menu-item ">
        <a href="home">Home</a>

      </li>
      <li class="menu-item ">
        <a href="blogs">Blog</a>
      </li>

      <li class="menu-item ">
        <a href="clinics">Clinics</a>

      </li>
      <li class="menu-item ">
        <a href="octors">Doctors</a>
      </li>
      <li class="menu-item">
        <a href="contact">Contact us</a>
      </li>
      <li class="menu-item menu-item-has-children">
      <a href="">Pages</a>
      <ul class="sub-menu">
        <li class="menu-item">
          <a href="/about-us">About us</a>
        </li>
        <li class="menu-item">
          <a href="services.html">Services</a>
        </li>
        <li class="menu-item">
          <a href="service-details.html">Service Details</a>
        </li>
        <li class="menu-item">
          <a href="faq.html">Faq</a>
        </li>
        <li class="menu-item">
          <a href="book-apppointment.html">Book apppointment</a>
        </li>
      </ul>
    </li>
    </ul>
  </aside>
  <div class="sigma_aside-overlay aside-trigger">
  </div>
  <header class="sigma_header style-5 bg-transparent shadow-none can-sticky">
    <div class="container">
      <div class="sigma_header-top d-none d-md-block">
        <div class="sigma_header-top-inner">
          <div class="sigma_header-top-links">
            <ul class="sigma_header-top-nav">
              <li>
                <a href="#">
                  <i class="fal fa-envelope"></i>
                  info@website.com
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fal fa-map-marker-alt"></i>
                  Oakwood, Los Angeles, CA 1098
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="sigma_header-middle pl-4 pr-4">
        <div class="navbar">
          <div class="sigma_logo-wrapper">
            <a class="sigma_logo" href="index.html">
              <img src="/assets/img/logo.png" alt="logo">
            </a>
          </div>
          <div class="d-flex align-items-center">
            <ul class="navbar-nav">
              <li class="menu-item">
                <a href="home">Home</a>
              </li>
              <li class="menu-item">
                <a href="blogs">Blog</a>

              </li>
              <li class="menu-item menu-item-has-children">
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="about-us">About us</a>
                  </li>
                  <li class="menu-item">
                    <a href="services">Services</a>
                  </li>
                  <li class="menu-item">
                    <a href="faq">Faq</a>
                  </li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children">
                <a href="clinics">Clinics</a>

              </li>
              <li class="menu-item menu-item-has-children">
                <a href="doctors">Doctors</a>

              </li>
              <li class="menu-item">
                <a href="contact-us">Contact us</a>
              </li>
            </ul>
            <div class="sigma_header-controls style-2">
              <ul class="sigma_header-controls-inner">
                <li class="d-none d-sm-block ml-5">
                  <a href="/doctors" class="sigma_btn btn-sm">
  
                    Find A Doctor
  
                    <i class="fal fa-plus ml-3"></i>
  
                  </a>
                </li>
                <li class="aside-toggle aside-trigger">
                  <span></span>
                  <span></span>
                  <span></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="search-form-wrapper">
    <div class="search-trigger sigma_close">
      <span></span>
      <span></span>
    </div>
    <form class="search-form" method="post">
      <input type="text" placeholder="Search..." value="">
      <button type="submit" class="search-btn">
        <i class="fal fa-search m-0"></i>
      </button>
    </form>
  </div>
  <!--Section End-->
  <!--Section Start-->
  <div class="sigma_banner light-bg style-10 bg-cover">
    <img src="assets/img/tr.png" class="tr" alt="img">
    <img src="assets/img/br.png" class="br" alt="img">
    <img src="assets/img/bl.png" class="bl" alt="img">
    <div class="banner-slider-inner">
      <div class="sigma_banner-text">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <h5 class="primary-color">Markets & Resources</h5>
              <h1 class="title">

                Find The Best Doctor near By You

              </h1>
              <div class="banner-links d-flex align-items-center">
                <a href="/doctors" class="sigma_btn">Get a Quote</a>
                <a href="/about-us" class="sigma_btn light ml-4">Read more</a>
              </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
              <div class="sigma_banner-image mt-5 mt-lg-0">
                <img src="assets/img/home-2/540x540.jpg" alt="img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section End-->

  <!--Section Start-->
  <div class="section section-padding bg-cover bg-center bg-secondary-1" style="background-image: url(assets/img/pattern-3.png)">
    <div class="container">
      <div class="sigma_service-wrapper style-18 margin-negative">
        <div class="section-title flex-title">
          <h3 class="title mb-0">
            <%= ads.title %> 
          </h3>
          <a href="/doctors" class="sigma_btn mt-3 mt-sm-0">
            Get a Quote
            <i class="fal fa-arrow-right ml-3"></i>
          </a>
        </div>
        <div class="row">
    
          <div class="col-lg-4 col-md-6">
            <div class="sigma_service style-18">
              <div class="sigma_service-thumb">
                <i class="flaticon-heartbeat"></i>
              </div>
              <div class="sigma_service-body">
                <h5>
                  <a href="service-details.html">
                    <%= ads.firstIconTitle %> 
                  </a>
                </h5>
                <p>
                  <%= ads.firstIconBody %> 
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="sigma_service style-18">
              <div class="sigma_service-thumb">
                <i class="flaticon-stethoscope"></i>
              </div>
              <div class="sigma_service-body">
                <h5>
                  <a href="service-details.html">
                    <%= ads.secondIconTitle %> 
                  </a>
                </h5>
                <p>
                  <%= ads.secondIconBody %> 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_counter style-5">
            <i class="fal fa-procedures text-white"></i>
            <span>

              <b class="counter" data-from="0" data-to="<%= ads.numbers[0].number  %>" >
                
              </b>

            </span>
            <p class="text-white"><%= ads.numbers[0].title  %></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_counter style-5">
            <i class="fal fa-file-medical-alt text-white"></i>
            <span>

              <b class="counter" data-from="0" data-to="<%= ads.numbers[1].number  %>">
                
              </b>

              <span class="plus">+</span>
            </span>
            <p class="text-white"><%= ads.numbers[1].title  %></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_counter style-5">
            <i class="fal fa-heartbeat text-white"></i>
            <span>

              <b class="counter" data-from="0" data-to="<%= ads.numbers[2].number  %>">40</b>

              <span class="plus">+</span>
            </span>
            <p class="text-white"><%= ads.numbers[2].title  %></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_counter style-5">
            <i class="fal fa-ambulance text-white"></i>
            <span>

              <b class="counter" data-from="0" data-to="<%= ads.numbers[3].number  %>">678</b>

            </span>
            <p class="text-white"><%= ads.numbers[3].title  %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section End-->

  <!--Section Start-->
  <div class="section section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="sigma_about style-9 w-100 h-100">
            <div class="sigma_about-image-1 has-no-content">
              <img src="assets/img/home-2/635x450.jpg" alt="img">
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="sigma_about style-9 mt-5 mt-lg-0">
            <div class="section-title">
              <h3 class="title mb-5">We Provide Essential Service For Your Health</h3>
            </div>
            <div class="sigma_about-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="sigma_info style-15">
                    <div class="sigma_info-description">
                      <h5>

                        <a href="#">Quality Control System</a>

                      </h5>
                      <p>It is a long established fact that a reader will be distracted.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="sigma_info style-15">
                    <div class="sigma_info-description">
                      <h5>

                        <a href="#">Professional Staff</a>

                      </h5>
                      <p>It is a long established fact that a reader will be distracted.</p>
                    </div>
                  </div>
                </div>
              </div>
              <a href="/doctors" class="sigma_btn">

                Get A Quote

                <i class="fal fa-arrow-right ml-3"></i>

              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section End-->
  <!--Section Start-->
  <div class="section section-padding bg-gray">
    <div class="container">
      <div class="section-title centered">
        <span class="subtitle">Meet Our Team</span>
        <h3 class="title mb-0">Our Creative Team</h3>
      </div>
      <div class="row">
         <% console.log(ourTeam); %>
       <% ourTeam.forEach(element => { %> 
        
      
        <div class="col-lg-3 col-md-4 col-sm-6"> 
            <div class="sigma_team style-15">
              <div class="sigma_team-thumb">
                 <img src="<%=element.image%>" alt="team"/>  
              </div>
              <div class="sigma_team-body">
                <h5>
  
                  <a >
                    <%= element.name %> 
                  </a>
                </h5>
                <div class="sigma_team-categories">
                  <a  class="sigma_team-category">
                    <%= element.title %> 
                  </a>
                </div>
                <ul class="sigma_social-icons">
                  <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
         
          <% }); %>
        <!-- <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_team style-15">
            <div class="sigma_team-thumb">
              <img src="assets/img/home-2/255x255-0.jpg" alt="team">
            </div>
            <div class="sigma_team-body">
              <h5>

                <a href="#">Doris Griffin</a>

              </h5>
              <div class="sigma_team-categories">
                <a href="#" class="sigma_team-category">Analyst</a>
              </div>
              <ul class="sigma_social-icons">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_team style-15">
            <div class="sigma_team-thumb">
              <img src="assets/img/home-2/255x255-1.jpg" alt="team">
            </div>
            <div class="sigma_team-body">
              <h5>

                <a href="#">Adam Gilbert</a>

              </h5>
              <div class="sigma_team-categories">
                <a href="#" class="sigma_team-category">Neurologist</a>
              </div>
              <ul class="sigma_social-icons">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="sigma_team style-15">
            <div class="sigma_team-thumb">
              <img src="assets/img/home-2/255x255-2.jpg" alt="team">
            </div>
            <div class="sigma_team-body">
              <h5>

                <a href="#">Steve Cooper</a>

              </h5>
              <div class="sigma_team-categories">
                <a href="#" class="sigma_team-category">Pediatrition</a>
              </div>
              <ul class="sigma_social-icons">
                <li>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!--Section End-->
  <!--Section Start-->
  <div class="section section-padding bg-cover bg-center bg-secondary-1" style="background-image: url(assets/img/pattern-4.png)">
    <div class="container">
      <div class="section-title centered">
        <span class="subtitle text-white">What We Do</span>
        <h3 class="title text-white">Services for You</h3>
      </div>
      <div class="row">
        

        
        <% service.forEach(element => { %>
          <div class="col-lg-4 col-md-6">
            <div class="sigma_service style-18 has-bg">
              <div class="sigma_service-thumb">
              <% if ( element.type == 1 ) { %>
                <i class="flaticon-doctor-1"></i>
              <% } %>

              <% if ( element.type == 2 ) { %>
                <i class="flaticon-heartbeat"></i>
              <% } %>

              <% if ( element.type == 3 ) { %>
                <i class="flaticon-medical-record"></i>
              <% } %>

              <% if ( element.type == 4 ) { %>
                <i class="flaticon-flaticon-pharmacy"></i>
              <% } %>

              <% if ( element.type == 5 ) { %>
                <i class="flaticon-pills"></i>
              <% } %>

              <% if ( element.type == 6 ) { %>
                <i class="flaticon-stethoscope"></i>
              <% } %>
              </div>
              <div class="sigma_service-body">
                <h5>
  
                  <a href="service/<%= element.id %> ">
                    <%= element.title %> 
                  </a>
  
                </h5>
                <p>
                  <%= element.body %> 
                </p>
              </div>
            </div>
          </div>
        <% }) %>
        <!-- <div class="col-lg-4 col-md-6">
          <div class="sigma_service style-18 has-bg">
            <div class="sigma_service-thumb">
              <i class="flaticon-doctor-1"></i>
            </div>
            <div class="sigma_service-body">
              <h5>

                <a href="service-details.html">Dentistry</a>

              </h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="sigma_service style-18 has-bg">
            <div class="sigma_service-thumb">
              <i class="flaticon-heartbeat"></i>
            </div>
            <div class="sigma_service-body">
              <h5>

                <a href="service-details.html">Virusology</a>

              </h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="sigma_service style-18 has-bg">
            <div class="sigma_service-thumb">
              <i class="flaticon-medical-record"></i>
            </div>
            <div class="sigma_service-body">
              <h5>

                <a href="service-details.html">Pharmocology</a>

              </h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="sigma_service style-18 has-bg">
            <div class="sigma_service-thumb">
              <i class="flaticon-pharmacy"></i>
            </div>
            <div class="sigma_service-body">
              <h5>

                <a href="service-details.html">Cardiology</a>

              </h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="sigma_service style-18 has-bg">
            <div class="sigma_service-thumb">
              <i class="flaticon-pills"></i>
            </div>
            <div class="sigma_service-body">
              <h5>

                <a href="service-details.html">Researches</a>

              </h5>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <div class="section section-padding p-0 margin-negative">
      <div class="container-fluid p-0">
        <div class="sigma_instagram style-1 insta-images">
          <div class="sigma_instagram-slider">
            <% swiper.forEach(element => { %>
              <img src="<%=element.image%>" alt="img">
            <% }) %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--Section End-->

  <div class="section section-padding bg-gray"></div>

  <!--Section Start-->
  <div class="section section-padding bg-gray">
    <div class="container">
      <div class="section-title centered">
        <span class="subtitle">Client Testimonials</span>
        <h3 class="title">What Our Clients Say</h3>
      </div>
      <div class="row">
        
        <% client.forEach(element => { %>
         
          <div class="col-md-6">
            <div class="sigma_testimonial style-13 text-left bg-white">
              <div class="sigma_author-info">
                <div class="sigma_testimonial-thumb mr-4">
                  <img src="<%= element.image %> " alt="testimonial">
                  <span class="fas fa-quote-left sigma_testimonial-icon"></span>
                </div>
                <div class="sigma_author-block">
                  <h5>
  
                    <%= element.name %> 
  
                  </h5>
                  <span class="sigma_testimonial-category">Tincidunt</span>
                </div>
              </div>
              <div class="sigma_testimonial-body">
                <p class="mb-0">
                  <%= element.body %> 
                </p>
              </div>
            </div>
          </div>
        <% }) %>
        
        <!-- <div class="col-md-6">
          <div class="sigma_testimonial style-13 text-left bg-white">
            <div class="sigma_author-info">
              <div class="sigma_testimonial-thumb mr-4">
                <img src="assets/img/home-2/90x90-0.png" alt="testimonial">
                <span class="fas fa-quote-left sigma_testimonial-icon"></span>
              </div>
              <div class="sigma_author-block">
                <h5>

                  Kelly Coleman

                </h5>
                <span class="sigma_testimonial-category">Nulla nec</span>
              </div>
            </div>
            <div class="sigma_testimonial-body">
              <p class="mb-0">"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <div class="section p-0 margin-negative sm">
      <div class="container">
        <div class="sigma_cta style-9 bg-cover bg-center bg-secondary-1 shadow-none" style="background-image: url(assets/img/section-tr.png)">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="sigma_cta-content">
                <h3 class="mb-0 text-white">Get notified about the event! Subscribe Today</h3>
              </div>
            </div>

            <div class="col-lg-7 mt-lg-0 mt-3">
              <form method="post">
                <div class="input-group">
                  <input type="email" name="email" id="homeSubEmail" placeholder="Email Address">
                  <div class="input-group-append">
                    <button type="button" onclick="myFunction('home1')" class="light">
                      <i class="fal fa-envelope mr-2"></i>
                      Subscribe
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="snackbar">message cent</div>
  </div>
  <!--Section End-->

  <div class="section section-padding"></div>

  <!--Section Start-->
  <div class="section">
    <div class="container">
      <div class="row justify-content-end position-relative">
        <div class="sigma_contact-image style-6 d-none d-lg-block">
          <img src="assets/img/home-2/480x590.jpg" alt="img">
        </div>
        <div class="col-lg-8">
          <div class="sigma_form style-6">
            <div class="section-title">
              <h3 class="title mb-1 text-white">Get in Touch</h3>
              <p class="text-white">We Will Be Happy To Assist You</p>
            </div>
          
              <div class="form-group">
                <i class="fal fa-user"></i>
                <input type="text" id="HomeSubName1" name="fname" placeholder="Name">
              </div>
              <div class="form-group">
                <i class="fal fa-envelope"></i>
                <input type="email"  id="HomeSubEmail1" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea name="message"  id="HomeSubMessage1" rows="5" placeholder="Message">
                </textarea>
              </div>
              <button type="button" onclick="myFunction('home2')" class="btn-block secondary">Send</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Section End-->
  <script src="../../controller/subscripe_controller.js"></script>

  <!--Section Start-->
  <div class="section section-padding pt-0">
    <div class="container">
      <div class="section-title centered">
        <span class="subtitle">Latest News</span>
        <h3 class="title">Our Insights & Articles</h3>
      </div>
      <div class="row">
        
        <% blog.forEach(element => { %>
          <div class="col-lg-4 col-md-6">
            <article class="sigma_post style-15">
              <div class="sigma_post-thumb">
                <a href="/blog/<%= element.id %>">
                  <img src="<%= element.image %>" alt="img">
                </a>
              </div>
              <div class="sigma_post-body">
                <div class="sigma_post-content">
                  <div class="sigma_post-meta is-absolute">
                    <a href="<%= element.source %>" class="sigma_post-date">
  
                     <%= element.date.toISOString().split('T')[0] %> 
  
                    </a>
                  </div>
                  <div class="sigma_post-meta">
                    <ul>
                      <li>
                        <a href="<%= element.source %>">
                          <i class="fal fa-user"></i>
                          By <%= element.writter %> 
                        </a>
                      </li>
                      <li>
                        <a href="/blog/<%= element.id %>">
                          <i class="fal fa-folder-open"></i>
                          Health
                        </a>
                      </li>
                    </ul>
                  </div>
                  <h5>
  
                    <a href="/blog/<%= element.id %>">
                      <%= element.title %> 
                    </a>
  
                  </h5>
                </div>
                <a href="/blog/<%= element.id %>" class="btn-link">
  
                  Read more
  
                </a>
              </div>
            </article>
          </div>
        <% }) %>

<!-- 
        <div class="col-lg-4 col-md-6">
          <article class="sigma_post style-15">
            <div class="sigma_post-thumb">
              <a href="blog-details.html">
                <img src="assets/img/home-2/350x300-0.jpg" alt="img">
              </a>
            </div>
            <div class="sigma_post-body">
              <div class="sigma_post-content">
                <div class="sigma_post-meta is-absolute">
                  <a href="blog-details.html" class="sigma_post-date">

                    28 January, 2021

                  </a>
                </div>
                <div class="sigma_post-meta">
                  <ul>
                    <li>
                      <a href="blog-details.html">
                        <i class="fal fa-user"></i>
                        By Jean
                      </a>
                    </li>
                    <li>
                      <a href="blog-details.html">
                        <i class="fal fa-folder-open"></i>
                        Health
                      </a>
                    </li>
                  </ul>
                </div>
                <h5>

                  <a href="blog-details.html">The Connection Between Post-traumatic</a>

                </h5>
              </div>
              <a href="#" class="btn-link">

                Read more

              </a>
            </div>
          </article>
        </div>
        <div class="col-lg-4 col-md-6">
          <article class="sigma_post style-15">
            <div class="sigma_post-thumb">
              <a href="blog-details.html">
                <img src="assets/img/home-2/350x300-1.jpg" alt="img">
              </a>
            </div>
            <div class="sigma_post-body">
              <div class="sigma_post-content">
                <div class="sigma_post-meta is-absolute">
                  <a href="blog-details.html" class="sigma_post-date">

                    28 January, 2021

                  </a>
                </div>
                <div class="sigma_post-meta">
                  <ul>
                    <li>
                      <a href="blog-details.html">
                        <i class="fal fa-user"></i>
                        By Jean
                      </a>
                    </li>
                    <li>
                      <a href="blog-details.html">
                        <i class="fal fa-folder-open"></i>
                        Medical
                      </a>
                    </li>
                  </ul>
                </div>
                <h5>

                  <a href="blog-details.html">The Connection Between Post-traumatic</a>

                </h5>
              </div>
              <a href="#" class="btn-link">

                Read more

              </a>
            </div>
          </article>
        </div> -->
      </div>
    </div>
  </div>
  <!--Section End-->
  <!--Section Start-->
  <footer class="sigma_footer style-5 pb-0" id="footer"></footer>
  <script src="assets/js/nvb.js"></script>
  <script>
    footer()
  </script>
  <!--Section End-->
  <script src="assets/js/plugins/jquery-3.4.1.min.js"></script>
  <script src="assets/js/plugins/popper.min.js"></script>
  <script src="assets/js/plugins/bootstrap.min.js"></script>
  <script src="assets/js/plugins/jquery.instagramFeed.min.js"></script>
  <script src="assets/js/plugins/slick.min.js"></script>
  <script src="assets/js/plugins/imagesloaded.min.js"></script>
  <script src="assets/js/plugins/isotope.pkgd.min.js"></script>
  <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/plugins/jquery.counterup.min.js"></script>
  <script src="assets/js/plugins/jquery.inview.min.js"></script>
  <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>
